<h1>Check if the number is prime</h1>
<h2 id="result"></h2>
<form id="number-form">
  <input type="text" placeholder="Enter a number" name="number" id="number-input" required autofocus/>
  <button type="submit">Check<button/>
</form>

<script>
  (function() {
    var formElement = document.getElementById('number-form');
    var inputElement = document.getElementById('number-input');
    var resultElement = document.getElementById('result');
    if (!formElement || !inputElement || !resultElement) { return }

    function displayResult() {
      if (httpRequest.readyState === XMLHttpRequest.DONE) {
        if (httpRequest.status === 200) {
          var response = JSON.parse(httpRequest.responseText);
          resultElement.innerHTML = "Your number is " + (response.prime ? "prime" : "not prime");
        } else {
          alert('There was a problem with the request.');
        }
      }
    }

    formElement.onsubmit = function(event) {
      event.preventDefault();
      if (inputElement.value) {
        httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = displayResult;
        httpRequest.open('GET', '/primes/' + inputElement.value);
        httpRequest.send();
      }
    }
  })();
</script>
